/node_modules
/public/build
/public/hot
/public/storage
/public/vendor/statamic
/public/vendor/statamic-peak-tools
/public/img/
/public/static/
/storage/*.key
/storage/forms/
/storage/debugbar/
/vendor
.env
.env.backup
/.phpunit.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.claude/
